<h1 class="center">Login</h1>

<mat-grid-list cols="1" rowHeight="70px" gutterSize="5px">
    <form (ngSubmit)="onSubmit()">

        <mat-grid-tile [colspan]="1" [rowspan]="1" >
            <mat-form-field appearance="fill">
                <mat-label>Enter your email</mat-label>
                <input matInput placeholder="example@mail.com" [formControl]="email" required>
                <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
            </mat-form-field>
        </mat-grid-tile>
            
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field appearance="fill">
                <mat-label>Enter your password</mat-label>
                <input matInput type="password" placeholder="password" [formControl]="password" required>
                <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>
            </mat-form-field>
        </mat-grid-tile>
            
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <button mat-raised-button color="primary" type="submit">Submit</button>
        </mat-grid-tile>
        
    </form>

    
</mat-grid-list>

<p class="center">Don't have an account? <a routerLink="/register">Register</a> </p>
